@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "GetAllBooks";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>All Books</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="AddBook" class="btn btn-success">Add New Book</a>
        </div>
    </div>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4 col4" >
                <div class="card">
                    <img src="@book.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">@book.Title</h3>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Book" asp-action="GetBook" asp-route-id="@book.Id" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>
                    </div>
                </div>
            </div>
            
        }

    </div>
</div>


