@model IEnumerable<LanguageModel>
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Food List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Add" class="btn btn-success">Create</a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(c => c.Id)</th>
                        <th>@Html.DisplayNameFor(c => c.Name)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-list-ul"></i>View</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="far fa-edit"></i>Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>


